/node_modules
.env
/dist
/logs
.DS_Store
*.log
*.tmp
*.bak
*.swp
.idea/
.vscode/
*.iml
coverage/
*.tsbuildinfo
*.eslintcache
*.prettiercache
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
